img{
    height: 50px;
    padding-top: 10px;
    margin-bottom: 25px;
}
/* 
body{
    /* background-image: url('content/bg-full.jpg'); */
    /* background-color: rgb(36, 36, 36); */
/* } */ 
.sidebar-header{
    list-style: none;
}

img:hover{
    cursor: pointer;
}
.wrapper{
    background-color: black;
    display: block;
    width: 200px;
    height: 100vh;
}

.sidebar {
    background-color: black;
    color: rgb(168, 168, 168);
    display: inline-block;
    flex-direction: column;
    margin-top: -56px;
    width: 250px;
    padding-left: 15px;
    padding: 35px 20px;
    height: 100vh;
    position: sticky;
}

.list-unstyled li{
    padding-top:21px;
    align-items: center;
}

.list-unstyled li:hover{
    color: white;
    cursor: pointer;
    width: 100%;
    /* background-color: rgb(85, 85, 85); */
    border-radius: 5px;
    transition-duration: 0.65s;
}

svg{
    margin-right: 20px;
}

.navbar {
    position: relative;
    margin-left: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content:flex-start;
    padding: .5rem 1rem;
    position: sticky;
    
}
.nav-arrow{
    height: 20px;
    color: white;
    width: 20px;
}

.nav-arrow:hover{
    height: 22px;
    width: 22px;
    transition-duration: 0.50s;
    cursor: pointer;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    font-size: 1.05rem;
    color: rgb(216, 216, 216);
    border-radius: 8px;
    transition-duration: 0.35s;
    cursor: pointer;
    text-decoration: none;
}

.container1 {
    /* display: inline-flex; */
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    margin-top: -689px;
    flex-wrap: wrap;
    scroll-behavior: auto;
    justify-content: center;
    align-items: center;
}

#log{
    color: black;
}

#span-log{
    background-color: white;
    width: 125px;
    height: 35px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    margin: 10px 10px;
}

#bgflex{
    display:inline-flex;
    width: 1000px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.bgcontent{
    border: 2px solid red;
    width: 200px;
    height: 200px;
}